In [171]:
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [172]:
import sys
import os

sys.path.append(r'C:\Program Files\QGIS 3.20.0\apps\qgis\python') #this is important for loading qgis library
sys.path.append(r'C:\Program Files\QGIS 3.20.0\apps\qgis\python\plugins') #this is important for loading processing library

In [173]:
import qgis

In [174]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from IPython.display import display

In [175]:
%matplotlib widget

In [176]:
from qgis.gui import *
from qgis.core import *
from qgis.utils import plugins
from PyQt5.QtCore import *
from qgis.analysis import QgsNativeAlgorithms

In [177]:
import pandas as pd
import numpy as np
import pykrige.kriging_tools as kt
from pykrige.ok import OrdinaryKriging
from pykrige.uk import UniversalKriging
import matplotlib.pyplot as plt
import seaborn as sb
import gstools as gs
import geopandas as gpd

In [178]:
from datetime import datetime
import json
from pandas import json_normalize
import requests

In [179]:
from pysal.lib import weights
from pysal.lib import cg as geometry
from pysal.model import spreg
from pysal.explore import esda
from pysal.viz import splot
from splot.esda import plot_moran

import contextily
from shapely.geometry import Polygon,LineString, Point
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.weightstats import ttest_ind
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
from sklearn.model_selection import train_test_split

In [180]:
from pulp import *

# Geospatial Data Analysis using Open Source Tools <img src="./Resources/geoworks.png" width="100" align ="right"/> <img src="./Resources/sla.png" width="100" align ="right"/>

Geospatial Data Science is a rapidly growing discipline across a wide range of industries including financial services, real estate, cities and government, management consulting, retail, utilities, telecommunications, and many more. Geospatial data analysis skills have become increasingly valuable for professionals and researchers. Many spatial analysis tools are open sourced, so one can view the source code and contribute without expensive licenses.

## Data Manipulation and Visualization using PYQGIS & GeoPandas

## Spatial Interpolation using sklearn

* Spatial interpolation is the procedure of estimating the value of properties at unsampled sites within the area covered by existing observations. 
* Rationale behind spatial interpolation is the observation that points close together in space are more likely to have similar values than points far apart.

### Download Rainfall Data

In [73]:
# def download_rainfall(dt,days):
#     if dt is not None:
#         datelist = pd.date_range(dt, periods=days).tolist()
#         return datelist
    
# w = interactive(download_rainfall, dt=widgets.DatePicker(),days=widgets.IntSlider(min=1, max=100, step=1, value=30,continuous_update=False))

In [74]:
# display(w)

interactive(children=(DatePicker(value=None, description='dt'), IntSlider(value=30, continuous_update=False, d…

In [76]:
# # download Singapore rainfall data
# responses = [requests.get('https://api.data.gov.sg/v1/environment/rainfall?date='+i.strftime("%Y-%m-%d")) for i in w.result]
# [print(i.status_code) for i in responses]

# for i,response in enumerate(responses):
#     with open(f'Data/Rainfall/test{i}.json', 'w') as f:
#         print(f"download {i}")
#         json.dump(response.json(), f)

In [49]:
responses_json =[]
for filename in os.listdir('Data/Rainfall'):
    with open(os.path.join('Data/Rainfall', filename), 'r') as f: # open in readonly mode
        response = json.load(f)
        responses_json.append(response)

### Preprocessing Rainfall Data

In [50]:
# df_dict=responses[0].json() # if use online download
df_dict=responses_json[0] # if read files

In [51]:
df_dict['metadata']['stations']

[{'id': 'S77',
  'device_id': 'S77',
  'name': 'Alexandra Road',
  'location': {'latitude': 1.2937, 'longitude': 103.8125}},
 {'id': 'S117',
  'device_id': 'S117',
  'name': 'Banyan Road',
  'location': {'latitude': 1.256, 'longitude': 103.679}},
 {'id': 'S90',
  'device_id': 'S90',
  'name': 'Bukit Timah Road',
  'location': {'latitude': 1.3191, 'longitude': 103.8191}},
 {'id': 'S61',
  'device_id': 'S61',
  'name': 'Chai Chee Street',
  'location': {'latitude': 1.323, 'longitude': 103.9217}},
 {'id': 'S114',
  'device_id': 'S114',
  'name': 'Choa Chu Kang Avenue 4',
  'location': {'latitude': 1.38, 'longitude': 103.73}},
 {'id': 'S11',
  'device_id': 'S11',
  'name': 'Choa Chu Kang Road',
  'location': {'latitude': 1.3746, 'longitude': 103.6938}},
 {'id': 'S50',
  'device_id': 'S50',
  'name': 'Clementi Road',
  'location': {'latitude': 1.3337, 'longitude': 103.7768}},
 {'id': 'S107',
  'device_id': 'S107',
  'name': 'East Coast Parkway',
  'location': {'latitude': 1.3135, 'longitude': 103.9625}},
 {'id': 'S215',
  'device_id': 'S215',
  'name': 'GEYLANG EAST CENTRAL',
  'location': {'latitude': 1.32785, 'longitude': 103.88899}},
 {'id': 'S118',
  'device_id': 'S118',
  'name': 'Handy Road',
  'location': {'latitude': 1.2994, 'longitude': 103.8461}},
 {'id': 'S120',
  'device_id': 'S120',
  'name': 'Holland Road',
  'location': {'latitude': 1.30874, 'longitude': 103.818}},
 {'id': 'S33',
  'device_id': 'S33',
  'name': 'Jurong Pier Road',
  'location': {'latitude': 1.3081, 'longitude': 103.71}},
 {'id': 'S71',
  'device_id': 'S71',
  'name': 'Kent Ridge Road',
  'location': {'latitude': 1.2923, 'longitude': 103.7815}},
 {'id': 'S43',
  'device_id': 'S43',
  'name': 'Kim Chuan Road',
  'location': {'latitude': 1.3399, 'longitude': 103.8878}},
 {'id': 'S66',
  'device_id': 'S66',
  'name': 'Kranji Way',
  'location': {'latitude': 1.4387, 'longitude': 103.7363}},
 {'id': 'S112',
  'device_id': 'S112',
  'name': 'Lim Chu Kang Road',
  'location': {'latitude': 1.43854, 'longitude': 103.70131}},
 {'id': 'S07',
  'device_id': 'S07',
  'name': 'Lornie Road',
  'location': {'latitude': 1.3415, 'longitude': 103.8334}},
 {'id': 'S40',
  'device_id': 'S40',
  'name': 'Mandai Lake Road',
  'location': {'latitude': 1.4044, 'longitude': 103.78962}},
 {'id': 'S108',
  'device_id': 'S108',
  'name': 'Marina Gardens Drive',
  'location': {'latitude': 1.2799, 'longitude': 103.8703}},
 {'id': 'S113',
  'device_id': 'S113',
  'name': 'Marine Parade Road',
  'location': {'latitude': 1.30648, 'longitude': 103.9104}},
 {'id': 'S44',
  'device_id': 'S44',
  'name': 'Nanyang Avenue',
  'location': {'latitude': 1.34583, 'longitude': 103.68166}},
 {'id': 'S119',
  'device_id': 'S119',
  'name': 'Nicoll Highway',
  'location': {'latitude': 1.30105, 'longitude': 103.8666}},
 {'id': 'S121',
  'device_id': 'S121',
  'name': 'Old Choa Chu Kang Road',
  'location': {'latitude': 1.37288, 'longitude': 103.72244}},
 {'id': 'S35',
  'device_id': 'S35',
  'name': 'Old Toh Tuck Road',
  'location': {'latitude': 1.3329, 'longitude': 103.7556}},
 {'id': 'S94',
  'device_id': 'S94',
  'name': 'Pasir Ris Street 51',
  'location': {'latitude': 1.3662, 'longitude': 103.9528}},
 {'id': 'S78',
  'device_id': 'S78',
  'name': 'Poole Road',
  'location': {'latitude': 1.30703, 'longitude': 103.89067}},
 {'id': 'S81',
  'device_id': 'S81',
  'name': 'Punggol Central',
  'location': {'latitude': 1.4029, 'longitude': 103.9092}},
 {'id': 'S201',
  'device_id': 'S201',
  'name': 'S201',
  'location': {'latitude': 1.32311, 'longitude': 103.76714}},
 {'id': 'S202',
  'device_id': 'S202',
  'name': 'S202',
  'location': {'latitude': 1.30968, 'longitude': 103.7578}},
 {'id': 'S203',
  'device_id': 'S203',
  'name': 'S203',
  'location': {'latitude': 1.29164, 'longitude': 103.7702}},
 {'id': 'S204',
  'device_id': 'S204',
  'name': 'S204',
  'location': {'latitude': 1.40081, 'longitude': 103.88217}},
 {'id': 'S205',
  'device_id': 'S205',
  'name': 'S205',
  'location': {'latitude': 1.38829, 'longitude': 103.9116}},
 {'id': 'S207',
  'device_id': 'S207',
  'name': 'S207',
  'location': {'latitude': 1.32485, 'longitude': 103.95836}},
 {'id': 'S208',
  'device_id': 'S208',
  'name': 'S208',
  'location': {'latitude': 1.3136, 'longitude': 104.00317}},
 {'id': 'S209',
  'device_id': 'S209',
  'name': 'S209',
  'location': {'latitude': 1.42111, 'longitude': 103.84472}},
 {'id': 'S210',
  'device_id': 'S210',
  'name': 'S210',
  'location': {'latitude': 1.44003, 'longitude': 103.76904}},
 {'id': 'S211',
  'device_id': 'S211',
  'name': 'S211',
  'location': {'latitude': 1.42918, 'longitude': 103.75711}},
 {'id': 'S212',
  'device_id': 'S212',
  'name': 'S212',
  'location': {'latitude': 1.31835, 'longitude': 103.93574}},
 {'id': 'S213',
  'device_id': 'S213',
  'name': 'S213',
  'location': {'latitude': 1.32427, 'longitude': 103.8097}},
 {'id': 'S214',
  'device_id': 'S214',
  'name': 'S214',
  'location': {'latitude': 1.29911, 'longitude': 103.88289}},
 {'id': 'S216',
  'device_id': 'S216',
  'name': 'S216',
  'location': {'latitude': 1.36019, 'longitude': 103.85335}},
 {'id': 'S217',
  'device_id': 'S217',
  'name': 'S217',
  'location': {'latitude': 1.35041, 'longitude': 103.85526}},
 {'id': 'S218',
  'device_id': 'S218',
  'name': 'S218',
  'location': {'latitude': 1.36491, 'longitude': 103.75065}},
 {'id': 'S219',
  'device_id': 'S219',
  'name': 'S219',
  'location': {'latitude': 1.37999, 'longitude': 103.87643}},
 {'id': 'S220',
  'device_id': 'S220',
  'name': 'S220',
  'location': {'latitude': 1.38666, 'longitude': 103.89797}},
 {'id': 'S221',
  'device_id': 'S221',
  'name': 'S221',
  'location': {'latitude': 1.35691, 'longitude': 103.89088}},
 {'id': 'S222',
  'device_id': 'S222',
  'name': 'S222',
  'location': {'latitude': 1.28987, 'longitude': 103.82364}},
 {'id': 'S223',
  'device_id': 'S223',
  'name': 'S223',
  'location': {'latitude': 1.29984, 'longitude': 103.80264}},
 {'id': 'S224',
  'device_id': 'S224',
  'name': 'S224',
  'location': {'latitude': 1.34392, 'longitude': 103.98409}},
 {'id': 'S226',
  'device_id': 'S226',
  'name': 'S226',
  'location': {'latitude': 1.27472, 'longitude': 103.80389}},
 {'id': 'S227',
  'device_id': 'S227',
  'name': 'S227',
  'location': {'latitude': 1.43944, 'longitude': 103.80389}},
 {'id': 'S228',
  'device_id': 'S228',
  'name': 'S228',
  'location': {'latitude': 1.34703, 'longitude': 103.70073}},
 {'id': 'S229',
  'device_id': 'S229',
  'name': 'S229',
  'location': {'latitude': 1.35167, 'longitude': 103.72195}},
 {'id': 'S111',
  'device_id': 'S111',
  'name': 'Scotts Road',
  'location': {'latitude': 1.31055, 'longitude': 103.8365}},
 {'id': 'S900',
  'device_id': 'S900',
  'name': 'Seletar Aerospace View',
  'location': {'latitude': 1.41284, 'longitude': 103.86922}},
 {'id': 'S60',
  'device_id': 'S60',
  'name': 'Sentosa',
  'location': {'latitude': 1.25, 'longitude': 103.8279}},
 {'id': 'S46',
  'device_id': 'S46',
  'name': 'Sime Road',
  'location': {'latitude': 1.3416, 'longitude': 103.8106}},
 {'id': 'S84',
  'device_id': 'S84',
  'name': 'Simei Avenue',
  'location': {'latitude': 1.3437, 'longitude': 103.9444}},
 {'id': 'S79',
  'device_id': 'S79',
  'name': 'Somerset Road',
  'location': {'latitude': 1.3004, 'longitude': 103.8372}},
 {'id': 'S88',
  'device_id': 'S88',
  'name': 'Toa Payoh North',
  'location': {'latitude': 1.3427, 'longitude': 103.8482}},
 {'id': 'S123',
  'device_id': 'S123',
  'name': 'Towner Road',
  'location': {'latitude': 1.3214, 'longitude': 103.8577}},
 {'id': 'S89',
  'device_id': 'S89',
  'name': 'Tuas Road',
  'location': {'latitude': 1.31985, 'longitude': 103.66162}},
 {'id': 'S115',
  'device_id': 'S115',
  'name': 'Tuas South Avenue 3',
  'location': {'latitude': 1.29377, 'longitude': 103.61843}},
 {'id': 'S24',
  'device_id': 'S24',
  'name': 'Upper Changi Road North',
  'location': {'latitude': 1.3678, 'longitude': 103.9826}},
 {'id': 'S69',
  'device_id': 'S69',
  'name': 'Upper Peirce Reservoir Park',
  'location': {'latitude': 1.37, 'longitude': 103.805}},
 {'id': 'S08',
  'device_id': 'S08',
  'name': 'Upper Thomson Road',
  'location': {'latitude': 1.3701, 'longitude': 103.8271}},
 {'id': 'S116',
  'device_id': 'S116',
  'name': 'West Coast Highway',
  'location': {'latitude': 1.281, 'longitude': 103.754}},
 {'id': 'S104',
  'device_id': 'S104',
  'name': 'Woodlands Avenue 9',
  'location': {'latitude': 1.44387, 'longitude': 103.78538}},
 {'id': 'S100',
  'device_id': 'S100',
  'name': 'Woodlands Road',
  'location': {'latitude': 1.4172, 'longitude': 103.74855}},
 {'id': 'S91',
  'device_id': 'S91',
  'name': 'Yishun Avenue 5',
  'location': {'latitude': 1.4301, 'longitude': 103.8308}},
 {'id': 'S230',
  'device_id': 'S230',
  'name': 'S230',
  'location': {'latitude': 1.30167, 'longitude': 103.76444}},
 {'id': 'S92',
  'device_id': 'S92',
  'name': 'South Buona Vista Road',
  'location': {'latitude': 1.2841, 'longitude': 103.7886}},
 {'id': 'S29',
  'device_id': 'S29',
  'name': 'Pasir Ris Drive 12',
  'location': {'latitude': 1.387, 'longitude': 103.935}},
 {'id': 'S122',
  'device_id': 'S122',
  'name': 'Sembawang Road',
  'location': {'latitude': 1.41731, 'longitude': 103.8249}},
 {'id': 'S109',
  'device_id': 'S109',
  'name': 'Ang Mo Kio Avenue 5',
  'location': {'latitude': 1.3764, 'longitude': 103.8492}}]

In [16]:
df_stations = pd.DataFrame(df_dict['metadata']['stations'])

In [17]:
df_stations

,id,device_id,name,location
0,S77,S77,Alexandra Road,"{'latitude': 1.2937, 'longitude': 103.8125}"
1,S117,S117,Banyan Road,"{'latitude': 1.256, 'longitude': 103.679}"
2,S90,S90,Bukit Timah Road,"{'latitude': 1.3191, 'longitude': 103.8191}"
3,S61,S61,Chai Chee Street,"{'latitude': 1.323, 'longitude': 103.9217}"
4,S114,S114,Choa Chu Kang Avenue 4,"{'latitude': 1.38, 'longitude': 103.73}"
...,...,...,...,...
70,S230,S230,S230,"{'latitude': 1.30167, 'longitude': 103.76444}"
71,S92,S92,South Buona Vista Road,"{'latitude': 1.2841, 'longitude': 103.7886}"
72,S29,S29,Pasir Ris Drive 12,"{'latitude': 1.387, 'longitude': 103.935}"
73,S122,S122,Sembawang Road,"{'latitude': 1.41731, 'longitude': 103.8249}"
74,S109,S109,Ang Mo Kio Avenue 5,"{'latitude': 1.3764, 'longitude': 103.8492}"

In [18]:
df_st= df_stations.drop('location', axis=1).join(pd.DataFrame(df_stations.location.values.tolist()))
df_st

      id device_id                    name  latitude  longitude
0    S77       S77          Alexandra Road   1.29370  103.81250
1   S117      S117             Banyan Road   1.25600  103.67900
2    S90       S90        Bukit Timah Road   1.31910  103.81910
3    S61       S61        Chai Chee Street   1.32300  103.92170
4   S114      S114  Choa Chu Kang Avenue 4   1.38000  103.73000
..   ...       ...                     ...       ...        ...
70  S230      S230                    S230   1.30167  103.76444
71   S92       S92  South Buona Vista Road   1.28410  103.78860
72   S29       S29      Pasir Ris Drive 12   1.38700  103.93500
73  S122      S122          Sembawang Road   1.41731  103.82490
74  S109      S109     Ang Mo Kio Avenue 5   1.37640  103.84920

[75 rows x 5 columns]

In [19]:
# uncomment the following line if you use online requests
# df_rainfall = [pd.DataFrame(response.json()['items']).assign(Day_ID=i+1, Time_ID = pd.DataFrame(response.json()['items']).index+1) for i,response in enumerate(responses)]

# uncomment the next line if you use files in rainfall folder
df_rainfall = [pd.DataFrame(response['items']).assign(Day_ID=i+1, Time_ID = pd.DataFrame(response['items']).index+1) for i,response in enumerate(responses_json)]

In [20]:
df_rainfall_all =pd.concat(df_rainfall, axis=0)

In [21]:
df_rainfall_all

,timestamp,readings,Day_ID,Time_ID
0,2020-12-01T00:05:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",1,1
1,2020-12-01T00:10:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",1,2
2,2020-12-01T00:15:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",1,3
3,2020-12-01T00:20:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",1,4
4,2020-12-01T00:25:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",1,5
...,...,...,...,...
282,2020-12-10T23:35:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",10,283
283,2020-12-10T23:40:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",10,284
284,2020-12-10T23:45:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",10,285
285,2020-12-10T23:50:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",10,286
286,2020-12-10T23:55:00+08:00,"[{'station_id': 'S77', 'value': 0}, {'station_...",10,287

In [22]:
df = pd.concat([pd.DataFrame(row.readings).assign(Day_ID=row.Day_ID,Time_ID=row.Time_ID) for index, row in df_rainfall_all.iterrows()]).reset_index()
df

        index station_id  value  Day_ID  Time_ID
0           0        S77    0.0       1        1
1           1       S117    0.0       1        1
2           2        S90    0.0       1        1
3           3        S61    0.0       1        1
4           4       S114    0.0       1        1
...       ...        ...    ...     ...      ...
211283     68        S08    0.0      10      287
211284     69       S116    0.0      10      287
211285     70       S104    0.0      10      287
211286     71       S100    0.0      10      287
211287     72        S91    0.0      10      287

[211288 rows x 5 columns]

In [23]:
df_agg= df.groupby(['Day_ID','station_id']).sum().drop(['Time_ID','index'],axis=1).reset_index()

In [24]:
df_agg

     Day_ID station_id  value
0         1        S07    0.0
1         1        S08    0.0
2         1       S100    0.0
3         1       S104    0.0
4         1       S107    0.0
..      ...        ...    ...
747      10        S90    5.6
748      10       S900   43.6
749      10        S91   19.8
750      10        S92    5.6
751      10        S94   18.6

[752 rows x 3 columns]

In [25]:
df_stations

,id,device_id,name,location
0,S77,S77,Alexandra Road,"{'latitude': 1.2937, 'longitude': 103.8125}"
1,S117,S117,Banyan Road,"{'latitude': 1.256, 'longitude': 103.679}"
2,S90,S90,Bukit Timah Road,"{'latitude': 1.3191, 'longitude': 103.8191}"
3,S61,S61,Chai Chee Street,"{'latitude': 1.323, 'longitude': 103.9217}"
4,S114,S114,Choa Chu Kang Avenue 4,"{'latitude': 1.38, 'longitude': 103.73}"
...,...,...,...,...
70,S230,S230,S230,"{'latitude': 1.30167, 'longitude': 103.76444}"
71,S92,S92,South Buona Vista Road,"{'latitude': 1.2841, 'longitude': 103.7886}"
72,S29,S29,Pasir Ris Drive 12,"{'latitude': 1.387, 'longitude': 103.935}"
73,S122,S122,Sembawang Road,"{'latitude': 1.41731, 'longitude': 103.8249}"
74,S109,S109,Ang Mo Kio Avenue 5,"{'latitude': 1.3764, 'longitude': 103.8492}"

In [26]:
df_agg_for_kriging = df_agg.merge(df_st,left_on='station_id',right_on='device_id')

In [27]:
df_agg_for_kriging

,Day_ID,station_id,value,id,device_id,name,latitude,longitude
0,1,S07,0.00000,S07,S07,Lornie Road,1.3415,103.8334
1,2,S07,0.20000,S07,S07,Lornie Road,1.3415,103.8334
2,3,S07,33.00000,S07,S07,Lornie Road,1.3415,103.8334
3,4,S07,21.40000,S07,S07,Lornie Road,1.3415,103.8334
4,5,S07,0.20000,S07,S07,Lornie Road,1.3415,103.8334
...,...,...,...,...,...,...,...,...
736,6,S94,0.00000,S94,S94,Pasir Ris Street 51,1.3662,103.9528
737,7,S94,19.00000,S94,S94,Pasir Ris Street 51,1.3662,103.9528
738,8,S94,0.00000,S94,S94,Pasir Ris Street 51,1.3662,103.9528
739,9,S94,64.19999,S94,S94,Pasir Ris Street 51,1.3662,103.9528
740,10,S94,18.60000,S94,S94,Pasir Ris Street 51,1.3662,103.9528

### Visualize Rainfall data

In [28]:
df_rainfall_geoms = gpd.points_from_xy(x=df_agg_for_kriging["longitude"],
                                    y=df_agg_for_kriging["latitude"],
                                    crs="epsg:4326"
                                   )

In [29]:
rainfall = gpd.GeoDataFrame(df_agg_for_kriging,
                                   geometry=df_rainfall_geoms
                                  )

In [30]:
# ensure that the two layers have the same crs
# here we have to transform the crs instead of set a new
rainfall=rainfall.to_crs("epsg:3414")

In [52]:
rainfall=gpd.read_file("Data/rainfall.shp")

In [53]:
sz = gpd.read_file('Data/MP14_Subzone_SE_2017.shp')

In [54]:
@interact(day_id=widgets.IntSlider(min=1, max=10, step=1, value=1,continuous_update=False))
def plot_rainfail_byday(day_id):
    rainfall_day=rainfall.query('Day_ID == ' + str(day_id))
    f, ax = plt.subplots(1, figsize=(9, 4))
    sz.plot(ax=ax, legend=False, facecolor="none",edgecolor="k",lw=0.1)
    rainfall_day.plot(ax=ax, column='value', legend=True, scheme='Quantiles', legend_kwds={'fmt':'{:.0f}'}, cmap='Blues', edgecolor="k")
    ax.set_title('Singapore Rainfall Data: ' + str(day_id))
    plt.axis('equal')
    plt.show()

interactive(children=(IntSlider(value=1, continuous_update=False, description='day_id', max=10, min=1), Output…

### Make a regular grid

We must make a grid, which represents the points we'd like to predict.

In [55]:
extent = min_x, max_x, min_y, max_y = [rainfall.geometry.x.min()-1100, rainfall.geometry.x.max()+10000,
                                       rainfall.geometry.y.min()-6500, rainfall.geometry.y.max()+5200]

In [56]:
gridx, gridy = np.mgrid[min_x:max_x:500, min_y:max_x:500]

In [57]:
plt.figure(figsize=(10,6))
plt.scatter(gridx, gridy, s=10)
ax = plt.gca()
sz.plot(ax=ax, legend=False, facecolor="none",edgecolor="k",lw=0.1)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [58]:
gridxy = np.stack([gridx.ravel(), gridy.ravel()]).T
grid_points = gpd.points_from_xy(x=gridxy[:,0], y=gridxy[:,1])
grid_points_df = gpd.GeoDataFrame(geometry=grid_points)
grid_points_within = gpd.sjoin(grid_points_df, sz, how='inner', op='within')

grid_points_within.plot()
ax = plt.gca()
sz.plot(ax=ax, legend=False, facecolor="none",edgecolor="k",lw=0.1)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

### Using `scikit-learn.gaussian_process`

Modeling with a Gaussian process is equivalent to kriging. Conveniently, the popular machine learning library `scikit-learn` has a Gaussian process modeling tool.
RBF: Radial-basis function kernel (aka squared-exponential kernel). The RBF kernel is a stationary kernel. It is also known as the “squared exponential” kernel. It is parameterized by a length scale parameter , which can either be a scalar (isotropic variant of the kernel) or a vector with the same number of dimensions as the inputs X (anisotropic variant of the kernel).

In [59]:
from sklearn.gaussian_process.kernels import RBF
from sklearn.gaussian_process import GaussianProcessRegressor

The main hyperparameters are the kernel, which we just defined, and `alpha`, which controls the smoothness. Larger values imply more noise in the input data, and result in smoother grids; default is very small: 1 &times; 10<sup>-9</sup>.

In [60]:
@interact(day_id=widgets.IntSlider(min=1, max=10, step=1, value=1,continuous_update=False),length_scale_input = widgets.IntSlider(min=500, max=20000, step=500, value=1000,continuous_update=False))
def plot_interpolation_byday(day_id,length_scale_input):
    rainfall_day=rainfall.query('Day_ID == ' + str(day_id))
    points = np.vstack((rainfall_day.geometry.x,rainfall_day.geometry.y)).T
    
    kernel = RBF(length_scale=length_scale_input)
    gp = GaussianProcessRegressor(normalize_y=True,
                                  alpha=0.1,  # Larger values imply more noise in the input data.
                                  kernel=kernel)

    gp.fit(points, rainfall_day.value.values)
    grid_points_pred =gp.predict(gridxy)
    grid_points = gpd.points_from_xy(x=gridxy[:,0], y=gridxy[:,1])
    grid_points_df = gpd.GeoDataFrame(pd.DataFrame(grid_points_pred,columns=['value']), geometry=grid_points)

    grid_points_within = gpd.sjoin(grid_points_df, sz, how='inner', op='within')
    
    f, ax = plt.subplots(1, figsize=(9, 4))
    grid_points_within.plot('value',alpha=0.5,legend=True,ax=ax)
    sz.plot(ax=ax, legend=False, facecolor="none",edgecolor="k",lw=0.1)
    rainfall_day.plot(ax=ax, column='value', legend=True, scheme='Quantiles', legend_kwds={'fmt':'{:.0f}'}, cmap='Blues', edgecolor="k")

interactive(children=(IntSlider(value=1, continuous_update=False, description='day_id', max=10, min=1), IntSli…

## Spatial Regression using PYSAL

Spatial regression is to explicitly introduce space or geographical context into the statistical framework of a regression. 


In the analysis of predictive methods and classifiers, we are interested in analyzing residuals, so called error diagnostics. When the regression model *systematically* mis-predicts some types of observations, geography provides us with an exceptionally-useful tool to show whether or not there are *clusters of error* in our data. 

If we *know* that errors tend to be larger in some areas than in other areas (or if error is "contagious" between observations), then we might be able to exploit this structure to make better predictions.

In [61]:
sz_Y = gpd.read_file('Data/MP14_Subzone_Y_2017.shp')

In [62]:
sz_Y.plot("Y",legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [63]:
not_varaible_names=['SUBZONE_N', 'PLN_AREA_N', 'REGION_N','SUBZONE_C', 
                    'PLN_AREA_C', 'REGION_C', 'geometry','stud_lprim',
                    'HDB_AV_1rm','e12k_Over','stud_jcoll','VariableX']
variable_names = sz_Y.columns[~sz_Y.columns.isin(not_varaible_names)]
sz_df = sz_Y[variable_names]

In [64]:
variable_names

Index(['Age_0to6', 'Age_20to29', 'Age_over85', 'HDB_AV_E', 'HDB_AV_2rm',
       'House_AV', 'Condo_AV', 'EC_AV', 'Apart_AV', 'DP', 'FDW', 'WP', 'Y'],
      dtype='object')

### Linear Regression

In [65]:
formula = 'Y ~ Age_0to6'

In [66]:
sz_df = sm.add_constant(sz_df)
results = ols(formula, sz_df).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.625
Model:                            OLS   Adj. R-squared:                  0.623
Method:                 Least Squares   F-statistic:                     530.8
Date:                Wed, 15 Sep 2021   Prob (F-statistic):           7.51e-70
Time:                        21:09:05   Log-Likelihood:                -2960.6
No. Observations:                 321   AIC:                             5925.
Df Residuals:                     319   BIC:                             5933.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1827.5951    161.861     11.291      0.000    1509.145    2146.045
Age_0to6       2.2293      0.097     23.040      0.000       2.039       2.420
==============================================================================
Omnibus:                       43.705   Durbin-Watson:                   1.406
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              269.918
Skew:                           0.285   Prob(JB):                     2.44e-59
Kurtosis:                       7.456   Cond. No.                     1.97e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.97e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [67]:
formula = 'Y ~ Age_0to6 + House_AV + FDW'

In [68]:
sz_df = sm.add_constant(sz_df)
results = ols(formula, sz_df).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.755
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     325.0
Date:                Wed, 15 Sep 2021   Prob (F-statistic):           2.33e-96
Time:                        21:09:07   Log-Likelihood:                -2892.4
No. Observations:                 321   AIC:                             5793.
Df Residuals:                     317   BIC:                             5808.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1156.0691    142.857      8.093      0.000     875.002    1437.136
Age_0to6       0.6644      0.149      4.460      0.000       0.371       0.957
House_AV      -0.0035      0.000     -7.592      0.000      -0.004      -0.003
FDW            3.7260      0.305     12.210      0.000       3.126       4.326
==============================================================================
Omnibus:                       11.080   Durbin-Watson:                   1.407
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               19.272
Skew:                           0.169   Prob(JB):                     6.53e-05
Kurtosis:                       4.152   Cond. No.                     5.82e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.82e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [69]:
variable_names_X = variable_names.values.tolist()
variable_names_X.remove('Y')
variable_formula =  'Y ~ ' + "+".join(variable_names_X)
variable_formula

'Y ~ Age_0to6+Age_20to29+Age_over85+HDB_AV_E+HDB_AV_2rm+House_AV+Condo_AV+EC_AV+Apart_AV+DP+FDW+WP'

In [70]:
sz_df = sm.add_constant(sz_df)
results = ols(variable_formula, sz_df).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.847
Method:                 Least Squares   F-statistic:                     148.3
Date:                Wed, 15 Sep 2021   Prob (F-statistic):          3.81e-120
Time:                        21:09:09   Log-Likelihood:                -2810.8
No. Observations:                 321   AIC:                             5648.
Df Residuals:                     308   BIC:                             5697.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1154.4332    122.543      9.421      0.000     913.305    1395.561
Age_0to6       0.1034      0.167      0.621      0.535      -0.224       0.431
Age_20to29     0.7890      0.099      7.962      0.000       0.594       0.984
Age_over85     2.2167      0.811      2.734      0.007       0.622       3.812
HDB_AV_E   -5.602e-05      0.002     -0.029      0.977      -0.004       0.004
HDB_AV_2rm    -0.0393      0.040     -0.992      0.322      -0.117       0.039
House_AV      -0.0015      0.000     -3.294      0.001      -0.002      -0.001
Condo_AV      -0.0012      0.001     -0.947      0.344      -0.004       0.001
EC_AV         -0.0050      0.004     -1.233      0.219      -0.013       0.003
Apart_AV   -8.528e-05   6.67e-05     -1.279      0.202      -0.000     4.6e-05
DP            -0.3556      0.261     -1.364      0.173      -0.868       0.157
FDW            2.0297      0.455      4.459      0.000       1.134       2.925
WP             0.0235      0.029      0.814      0.416      -0.033       0.080
==============================================================================
Omnibus:                       92.530   Durbin-Watson:                   1.628
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              220.958
Skew:                           1.400   Prob(JB):                     1.05e-48
Kurtosis:                       5.947   Cond. No.                     2.02e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [71]:
m_ols = spreg.OLS(
    sz_df[['Y']].values, 
    sz_df[variable_names_X].values,
    name_y='Y', 
    name_x=variable_names_X
)
print(m_ols.summary)

REGRESSION
----------
SUMMARY OF OUTPUT: ORDINARY LEAST SQUARES
-----------------------------------------
Data set            :     unknown
Weights matrix      :        None
Dependent Variable  :           Y                Number of Observations:         321
Mean dependent var  :   3805.6199                Number of Variables   :          13
S.D. dependent var  :   4006.4281                Degrees of Freedom    :         308
R-squared           :      0.8524
Adjusted R-squared  :      0.8467
Sum squared residual:757983515.823                F-statistic           :    148.2633
Sigma-square        : 2460985.441                Prob(F-statistic)     :  3.812e-120
S.E. of regression  :    1568.753                Log likelihood        :   -2810.774
Sigma-square ML     : 2361319.364                Akaike info criterion :    5647.547
S.E of regression ML:   1536.6585                Schwarz criterion     :    5696.576

------------------------------------------------------------------------------------
            Variable     Coefficient       Std.Error     t-Statistic     Probability
------------------------------------------------------------------------------------
            CONSTANT    1154.4332455     122.5432802       9.4206165       0.0000000
            Age_0to6       0.1034036       0.1665613       0.6208141       0.5351811
          Age_20to29       0.7889696       0.0990892       7.9622167       0.0000000
          Age_over85       2.2167417       0.8106743       2.7344418       0.0066104
            HDB_AV_E      -0.0000560       0.0019033      -0.0294334       0.9765380
          HDB_AV_2rm      -0.0393488       0.0396783      -0.9916966       0.3221240
            House_AV      -0.0015151       0.0004599      -3.2941344       0.0011023
            Condo_AV      -0.0011597       0.0012246      -0.9470421       0.3443597
               EC_AV      -0.0049819       0.0040405      -1.2330135       0.2185110
            Apart_AV      -0.0000853       0.0000667      -1.2786213       0.2019930
                  DP      -0.3555565       0.2606302      -1.3642184       0.1734948
                 FDW       2.0296529       0.4551433       4.4593712       0.0000115
                  WP       0.0234635       0.0288088       0.8144554       0.4160134
------------------------------------------------------------------------------------

REGRESSION DIAGNOSTICS
MULTICOLLINEARITY CONDITION NUMBER           17.101

TEST ON NORMALITY OF ERRORS
TEST                             DF        VALUE           PROB
Jarque-Bera                       2         220.958           0.0000

DIAGNOSTICS FOR HETEROSKEDASTICITY
RANDOM COEFFICIENTS
TEST                             DF        VALUE           PROB
Breusch-Pagan test               12          83.089           0.0000
Koenker-Bassett test             12          33.593           0.0008
================================ END OF REPORT =====================================

In [73]:
sz_Y['Resids']=m_ols.u.flatten()

In [74]:
sz_Y.plot("Resids",legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

### Spatial Regression

#### Spatial Autocorrelation

In [75]:
w = weights.contiguity.Queen.from_dataframe(sz_Y)
w.transform = 'R'

('WARNING: ', 26, ' is an island (no neighbors)')
('WARNING: ', 263, ' is an island (no neighbors)')
('WARNING: ', 289, ' is an island (no neighbors)')

In [76]:
w.islands

[26, 263, 289]

In [77]:
knn = weights.KNN.from_dataframe(sz_Y, k=4)

In [78]:
neighbors = w.neighbors.copy()

In [79]:
[neighbors[i].extend(knn.neighbors[i]) for i in w.islands]

[None, None, None]

In [80]:
w_new = weights.W(neighbors)

In [81]:
w_new.transform = 'R'

In [82]:
moran = esda.moran.Moran(sz_Y['Y'], w_new)
plot_moran(moran)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(<Figure size 1000x400 with 2 Axes>,
 array([<AxesSubplot:title={'center':'Reference Distribution'}, xlabel='Moran I: 0.67', ylabel='Density'>,
        <AxesSubplot:title={'center':'Moran Scatterplot (0.67)'}, xlabel='Attribute', ylabel='Spatial Lag'>],
       dtype=object))

In [83]:
moran.p_sim

0.001

#### Spatial Lag

The spatial lag model introduces a spatial lag of the *dependent* variable. In the example we have covered, this would translate into:

$$
{Y_i} = \alpha + \rho {Y_{lag-i}} + \sum_k \beta_k X_{ki} + \epsilon_i
$$

In [84]:
m_GM_Lag = spreg.GM_Lag(
    sz_df[['Y']].values, 
    sz_df[variable_names_X].values,
    w=w_new,
    name_y='Y',
    name_x=variable_names_X
)
print(m_GM_Lag.summary)

REGRESSION
----------
SUMMARY OF OUTPUT: SPATIAL TWO STAGE LEAST SQUARES
--------------------------------------------------
Data set            :     unknown
Weights matrix      :     unknown
Dependent Variable  :           Y                Number of Observations:         321
Mean dependent var  :   3805.6199                Number of Variables   :          14
S.D. dependent var  :   4006.4281                Degrees of Freedom    :         307
Pseudo R-squared    :      0.9896
Spatial Pseudo R-squared:  0.9759

------------------------------------------------------------------------------------
            Variable     Coefficient       Std.Error     z-Statistic     Probability
------------------------------------------------------------------------------------
            CONSTANT    -505.5846066      40.8002822     -12.3916939       0.0000000
            Age_0to6       0.1956513       0.0434049       4.5075832       0.0000066
          Age_20to29       0.5792295       0.0260074      22.2717040       0.0000000
          Age_over85       3.1306275       0.2116084      14.7944407       0.0000000
            HDB_AV_E       0.0017778       0.0004965       3.5803880       0.0003431
          HDB_AV_2rm       0.0112617       0.0103635       1.0866694       0.2771829
            House_AV      -0.0000495       0.0001219      -0.4064445       0.6844160
            Condo_AV       0.0002221       0.0003196       0.6949010       0.4871174
               EC_AV       0.0012119       0.0010566       1.1469914       0.2513852
            Apart_AV       0.0000180       0.0000174       1.0291968       0.3033872
                  DP       0.0659332       0.0681888       0.9669213       0.3335834
                 FDW      -0.0051164       0.1225701      -0.0417425       0.9667040
                  WP      -0.0053638       0.0075164      -0.7136176       0.4754637
                 W_Y       0.6608502       0.0101179      65.3147041       0.0000000
------------------------------------------------------------------------------------
Instrumented: W_Y
Instruments: W_Age_0to6, W_Age_20to29, W_Age_over85, W_Apart_AV, W_Condo_AV,
             W_DP, W_EC_AV, W_FDW, W_HDB_AV_2rm, W_HDB_AV_E, W_House_AV,
             W_WP
================================ END OF REPORT =====================================

In [85]:
f, ax = plt.subplots(1, figsize=(9, 4))
plt.scatter(x=list(range(0,321)),y=m_ols.u.flatten())
plt.scatter(x=list(range(0,321)),y=m_GM_Lag.u.flatten(),color="grey")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [86]:
sz_Y['Resids2']=m_GM_Lag.u.flatten()

In [87]:
f, (ax1, ax2) = plt.subplots(1,2, figsize=(9, 4))
sz_Y.plot("Resids",legend=True,ax=ax1)
sz_Y.plot("Resids2",legend=True,ax=ax2,cmap='OrRd')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Spatial Optimization using PULP

A facility location problem that involves determining the number and location of warehouses that are needed to supply a group of supermarkets. We’ll demonstrate how to construct a mixed-integer programming (MIP) model of this problem, implement this model in the  Python API, and then use the Optimizer to find an optimal solution.

Facility location problems have applications in a wide variety of industries. For example,  this problem can be used to find the optimal location for stores, factories, warehouses for supply chain management and logistics. Other applications range from public policy (e.g. positioning police officers in a city), telecommunications (e.g. cell towers in a network), and determining the locations for natural gas transmission equipment.

### Problem Description

A large supermarket chain in the Singapore needs to build warehouses for a set of supermarkets it is opening in Singapore. The locations of the supermarkets have been identified, but the locations of the warehouses have yet to be determined. Several good candidate locations for the warehouses have been identified, but decisions must be made regarding how many warehouses to open and at which candidate locations to build them.

Opening many warehouses would be advantageous as this would reduce the average distance a truck has to drive from the warehouse to the supermarket, and hence reduce the delivery cost. However, opening a warehouse has a fixed cost associated with it. In this example, our goal is to find the optimal tradeoff between delivery costs and the costs of building new facilities.


$i \in I$: Index and set of supermarket locations.

$j \in J$: Index and set of candidate warehouse locations.

$f_{j} \in \mathbb{R}^+$: Fixed cost associated with constructing facility $j \in J$.

$d_{i,j} \in \mathbb{R}^+$: Distance between facility $j \in J$ and customer $i \in I$.

$c_{i,j} \in \mathbb{R}^+$: Cost of shipping between candidate facility site $j \in J$ and customer location $i \in I$. We assume that this cost is proportional to the distance between the facility and the customer. That is, $c_{i,j} = \alpha \cdot d_{i,j}$, where $\alpha$ is the cost per km of driving, adjusted to incorporate the average number of trips a delivery truck would be expected to make over a five year period.

$select_{j} \in \{0, 1 \}$: This variable is equal to 1 if we build a facility at candidate location $j \in J$; and 0 otherwise.

$0 \leq assign_{i,j} \leq 1$: This non-negative continuous variable determines the fraction of supply received by supermarket $i \in I$ from warehouse $j \in J$.

- **Total costs**. We want to minimize the total cost to open and operate the facilities. This is the sum of the cost of opening facilities and the cost related to shipping between facilities and customers. This total cost measures the tradeoff between the cost of building a new facility and the total delivery cost over a five year period.

\begin{equation}
\text{Min} \quad Z = \sum_{j \in J} f_{j} \cdot select_{j} + \sum_{j \in J} \sum_{i \in I} c_{i,j} \cdot assign_{i,j}
\tag{0}
\end{equation}

- **Demand**. For each supermarket  $i \in I$ ensure that its demand is fulfilled. That is, the sum of the fraction received from each facility for each customer must be equal to 1:

\begin{equation}
\sum_{j \in J} assign_{i,j} = 1 \quad \forall i \in I
\tag{1}
\end{equation}

- **Shipping**. We need to ensure that we  only ship from warehouse $j \in J$,  if that facility has actually been built.

\begin{equation}
assign_{i,j} \leq select_{j} \quad \forall i \in I \quad \forall j \in J
\tag{2}
\end{equation}

### Read Shapefiles

In [78]:
Supermarkets_shp = gpd.read_file('Data/Supermarkets.shp')
Warehouses_shp = gpd.read_file('Data/Warehouses.shp')

In [79]:
f, (ax1,ax2) = plt.subplots(1,2, figsize=(12, 4))
sz.plot(ax=ax1, legend=False, facecolor="none",edgecolor="k",lw=0.1)
Supermarkets_shp.plot(ax=ax1, column='Demand', legend=True, scheme='Quantiles', legend_kwds={'fmt':'{:.0f}'}, cmap='Blues', edgecolor="k")
sz.plot(ax=ax2, legend=False, facecolor="none",edgecolor="k",lw=0.1)
Warehouses_shp.plot(ax=ax2, column='Capacity', legend=True, scheme='Quantiles', legend_kwds={'fmt':'{:.0f}'}, edgecolor="k")
plt.axis('equal')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

### Parameters

In [80]:
# SETS
SUPERMARKETS = list(Supermarkets_shp['Shop_ID'])
WAREHOUSES =  list(Warehouses_shp['WH_ID'])

In [81]:
SUPERMARKETS

[3, 14, 7, 5, 12, 6, 11, 18, 4, 8, 17, 13, 9, 2, 10, 16, 15, 19, 1, 20]

In [82]:
WAREHOUSES

[39,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38]

In [83]:
# PARAMETERS
demand = dict(zip(SUPERMARKETS,Supermarkets_shp['Demand']))
demand

{3: 385,
 14: 782,
 7: 1156,
 5: 1217,
 12: 792,
 6: 630,
 11: 477,
 18: 483,
 4: 1045,
 8: 603,
 17: 643,
 13: 913,
 9: 396,
 2: 693,
 10: 997,
 16: 882,
 15: 1105,
 19: 740,
 1: 384,
 20: 3}

In [84]:
actcost = dict(zip(WAREHOUSES,Warehouses_shp['Fixed_Cost']))
actcost

{39: 23272,
 1: 60975,
 2: 30975,
 3: 58200,
 4: 38200,
 5: 35415,
 6: 44235,
 7: 23292,
 8: 28200,
 9: 32560,
 10: 43357,
 11: 33907,
 12: 34235,
 13: 32982,
 14: 34235,
 15: 32341,
 16: 60975,
 17: 23907,
 18: 53292,
 19: 55883,
 20: 12000,
 21: 28200,
 22: 53907,
 23: 34235,
 24: 28200,
 25: 34235,
 26: 24379,
 27: 54379,
 28: 54379,
 29: 53272,
 30: 44235,
 31: 33272,
 32: 35233,
 33: 33907,
 34: 28200,
 35: 34349,
 36: 31857,
 37: 23292,
 38: 36581}

In [85]:
maxam = dict(zip(WAREHOUSES,Warehouses_shp['Capacity']))
maxam

{39: 2280,
 1: 4104,
 2: 1296,
 3: 3492,
 4: 8112,
 5: 1860,
 6: 2364,
 7: 1344,
 8: 1776,
 9: 1632,
 10: 1620,
 11: 1488,
 12: 2736,
 13: 1056,
 14: 1044,
 15: 1536,
 16: 3204,
 17: 1524,
 18: 2244,
 19: 3744,
 20: 5000,
 21: 3336,
 22: 984,
 23: 1248,
 24: 1920,
 25: 1632,
 26: 3000,
 27: 2352,
 28: 2688,
 29: 1776,
 30: 1536,
 31: 1644,
 32: 3816,
 33: 1008,
 34: 7308,
 35: 1824,
 36: 1392,
 37: 1188,
 38: 8052}

In [90]:
# This function determines the Euclidean distance between a facility and customer sites.
import math
def compute_distance(loc1, loc2):
    dx = loc1[0] - loc2[0]
    dy = loc1[1] - loc2[1]
    return math.sqrt(dx*dx + dy*dy)

In [91]:
SUPERMARKETS_XY = list(zip(Supermarkets_shp.geometry.x,Supermarkets_shp.geometry.y))
WAREHOUSES_XY = list(zip(Warehouses_shp.geometry.x,Warehouses_shp.geometry.y))

In [92]:
cost_per_km = 0.01

In [93]:

transp={}
for i, wh in enumerate(WAREHOUSES):
    dist=[]
    for j, _ in enumerate(SUPERMARKETS):
        dist.append(cost_per_km * compute_distance(WAREHOUSES_XY[i],SUPERMARKETS_XY[j])) # warning: distance is weighted by cost
    transp[wh] = dict(zip(SUPERMARKETS,dist))
transp

{39: {3: 77.61643923394313,
  14: 42.29376352261722,
  7: 33.85798774099471,
  5: 28.88299202163557,
  12: 63.102588551160956,
  6: 144.01599080425896,
  11: 119.76661765210872,
  18: 98.919968886445,
  4: 155.8258331791174,
  8: 93.81108828627235,
  17: 49.62933772089689,
  13: 142.96136538314633,
  9: 120.38390600622624,
  2: 143.3516264734701,
  10: 201.40049687636014,
  16: 95.99390653356501,
  15: 97.80888561537168,
  19: 98.58582284984287,
  1: 126.9125616506722,
  20: 266.15542318882245},
 1: {3: 188.0149032552678,
  14: 152.78501062590124,
  7: 122.69026646801458,
  5: 92.15980678230511,
  12: 62.35302050825839,
  6: 200.6741137421586,
  11: 164.5697297605202,
  18: 42.03546993146379,
  4: 173.90449404045572,
  8: 28.75203600859406,
  17: 97.519839715598,
  13: 132.9459986037315,
  9: 94.24583251139332,
  2: 74.16036458568323,
  10: 222.29720742965506,
  16: 188.2571900643917,
  15: 112.86491149319453,
  19: 63.63465541497613,
  1: 106.20636890984372,
  20: 288.49879690464115},
 2: {3: 184.28862488674963,
  14: 149.8785394897255,
  7: 126.77432903655581,
  5: 94.23365353613013,
  12: 58.06561512032501,
  6: 189.6680988020094,
  11: 153.33779390408603,
  18: 30.595089409481172,
  4: 160.47939340767616,
  8: 37.57458405324083,
  17: 91.47691887342644,
  13: 118.7015873833209,
  9: 80.14996673939119,
  2: 59.298280165839444,
  10: 208.4755810287198,
  16: 181.46271277204397,
  15: 124.17468787374887,
  19: 76.15355453480974,
  1: 119.98408938595801,
  20: 274.3671363663684},
 3: {3: 122.74607602661729,
  14: 98.52984863548348,
  7: 123.49726443876808,
  5: 92.81317804540404,
  12: 57.4142938238979,
  6: 99.35678958290684,
  11: 62.95068205822319,
  18: 60.139681825535085,
  4: 76.33177999047491,
  8: 100.17079768737733,
  17: 44.486991078185376,
  13: 49.66127008910188,
  9: 31.784446948464293,
  2: 70.4564536718118,
  10: 125.99722487700826,
  16: 104.36444690470827,
  15: 164.70638679058072,
  19: 134.68924970051444,
  1: 179.0505127296168,
  20: 193.50197044672666},
 4: {3: 144.5134745910492,
  14: 126.90779897908102,
  7: 160.1008380413748,
  5: 130.08962118927678,
  12: 93.52090612985927,
  6: 88.11153232152597,
  11: 55.216591705540466,
  18: 87.33636608764928,
  4: 45.80351284547124,
  8: 132.29969633045442,
  17: 80.66774622564708,
  13: 14.320620790851029,
  9: 35.43193868273054,
  2: 74.61685877463918,
  10: 93.90678581574105,
  16: 117.06061878474355,
  15: 201.62779274066932,
  19: 169.2539290782981,
  1: 214.40467628840966,
  20: 160.6444409670674},
 5: {3: 220.17978384403185,
  14: 185.95623145375092,
  7: 121.64944269494084,
  5: 117.80203169246641,
  12: 130.69885379472925,
  6: 274.6566346772138,
  11: 242.189180041312,
  18: 136.9626576128917,
  4: 263.6891936772313,
  8: 89.79689399260346,
  17: 159.81413588425437,
  13: 229.20590855780208,
  9: 191.25316942840863,
  2: 178.52719878584688,
  10: 313.3541588455478,
  16: 238.6407717252448,
  15: 57.06683047200152,
  19: 52.868114407500336,
  1: 21.167085539282493,
  20: 380.84590271677786},
 6: {3: 157.2750376773646,
  14: 139.21655999712797,
  7: 169.95200506947094,
  5: 138.9555315142952,
  12: 100.05423477844565,
  6: 97.53803640065648,
  11: 66.37122781092063,
  18: 89.34603084991943,
  4: 49.23899565905796,
  8: 135.6894458398168,
  17: 90.77004624515057,
  13: 3.879381336737442,
  9: 34.91474400429074,
  2: 69.11600536203883,
  10: 94.15257883230015,
  16: 129.65496606310404,
  15: 208.52442911513495,
  19: 173.88462602864217,
  1: 219.48070567178277,
  20: 159.46550605305717},
 7: {3: 23.93288765719024,
  14: 41.19284365006446,
  7: 90.37280850616449,
  5: 103.90917167310711,
  12: 132.0635171370656,
  6: 131.84478531636915,
  11: 126.64961511021329,
  18: 166.18040079020267,
  4: 169.89511231321362,
  8: 168.71567157935075,
  17: 103.86189358256411,
  13: 177.4192801010219,
  9: 169.50155107874963,
  2: 202.76247427028306,
  10: 203.65010883190124,
  16: 64.4768805233126,
  15: 158.9137331827922,
  19: 171.82138134782062,
  1: 192.86380112518947,
  20: 258.8142949880037},
 8: {3: 138.04255909060893,
  14: 120.04565072625941,
  7: 153.53850964816303,
  5: 123.8585780363635,
  12: 88.29589914711258,
  6: 85.79123025543184,
  11: 51.59929196041952,
  18: 84.31300838452363,
  4: 48.06375649732553,
  8: 128.3789643771731,
  17: 74.09970590671081,
  13: 21.188572491165065,
  9: 34.862721586901884,
  2: 75.76531862647198,
  10: 97.12115005028824,
  16: 111.34623864723521,
  15: 196.06176757506591,
  19: 164.6801230733001,
  1: 209.58126361971136,
  20: 164.2741984916175},
 9: {3: 101.78500756134892,
  14: 102.54538176022663,
  7: 161.53708733817479,
  5: 143.04675885129814,
  12: 126.50317716654523,
  6: 20.621150733343935,
  11: 16.211594610625717,
  18: 138.57933364179038,
  4: 49.51472013924182,
  8: 173.96801118676325,
  17: 95.36174070299492,
  13: 79.90206994522461,
  9: 100.23039146263162,
  2: 142.23497547735883,
  10: 79.02302632622539,
  16: 63.34316206085955,
  15: 220.80069717273307,
  19: 202.6579377767305,
  1: 243.04922164272395,
  20: 139.54661573204012},
 10: {3: 210.96779907732983,
  14: 181.08473972333712,
  7: 176.39500440706396,
  5: 141.71554055125765,
  12: 96.91661106883409,
  6: 183.689914057037,
  11: 148.60623135993615,
  18: 61.67272331603937,
  4: 139.06702849725235,
  8: 96.33392145948513,
  17: 118.43695297483544,
  13: 92.79834697507192,
  9: 64.64698741541454,
  2: 22.538993933763045,
  10: 180.6472756388469,
  16: 196.75104394487596,
  15: 183.16205159117598,
  19: 135.52322836207418,
  1: 178.87214622963572,
  20: 241.48369330116697},
 11: {3: 35.54839492291943,
  14: 16.81593941275917,
  7: 83.44323755299187,
  5: 78.7636855636867,
  12: 91.91779794512796,
  6: 98.14931316080946,
  11: 83.12976453230344,
  18: 122.96445609379177,
  4: 125.21547098801847,
  8: 135.2603696992793,
  17: 58.9066023155704,
  13: 128.3534460277967,
  9: 120.37508971441274,
  2: 155.18868194912534,
  10: 164.28903372576707,
  16: 42.94449685756873,
  15: 150.6921362534397,
  19: 148.7350632429692,
  1: 179.83975487226536,
  20: 224.89120353080108},
 12: {3: 184.74996432759562,
  14: 160.54401765794924,
  7: 175.25654163463366,
  5: 141.1338192117941,
  12: 96.13100235189103,
  6: 138.55205740056786,
  11: 105.54501394965335,
  18: 71.44885170018487,
  4: 90.00581161375085,
  8: 117.99359249447002,
  17: 102.04370468804419,
  13: 43.98795190632764,
  9: 30.97218940466401,
  2: 32.10699928466112,
  10: 130.85798799708718,
  16: 162.8882163825441,
  15: 200.15300387740925,
  19: 158.5176982792833,
  1: 204.3483520007127,
  20: 192.57905791898673},
 13: {3: 103.98311103133811,
  14: 93.99224414204147,
  7: 143.45345711340437,
  5: 120.50765271222701,
  12: 98.396684014663,
  6: 50.88126051588099,
  11: 14.589895538073032,
  18: 108.35011654792716,
  4: 47.21161066867401,
  8: 145.09628178106274,
  17: 70.21909385221585,
  13: 57.89198146663079,
  9: 71.1735802056171,
  2: 113.29045874346757,
  10: 91.64159999417619,
  16: 72.52316685022711,
  15: 197.73515158560625,
  19: 175.66940143900075,
  1: 217.55715241949864,
  20: 157.45506739032842},
 14: {3: 185.86374808229476,
  14: 163.56522625829288,
  7: 182.60204793243986,
  5: 148.9653010758218,
  12: 104.77647587758736,
  6: 132.4891138757913,
  11: 101.05138336322644,
  18: 82.27879616555919,
  4: 81.26617883479331,
  8: 129.1966515917906,
  17: 107.26124434617499,
  13: 36.54090447513689,
  9: 36.070874494584054,
  2: 44.15911478879266,
  10: 120.08396591679777,
  16: 161.66400963542293,
  15: 210.29105867877047,
  19: 169.57579652560852,
  1: 215.48662650551765,
  20: 180.95345588150198},
 15: {3: 151.0674389064631,
  14: 138.21490774297126,
  7: 177.9300415426648,
  5: 149.4198637293063,
  12: 114.92287044261035,
  6: 77.47011761925819,
  11: 51.122670616240875,
  18: 109.49470156958138,
  4: 25.61119650588333,
  8: 154.5068501974288,
  17: 98.83161580575812,
  13: 20.704085755117067,
  9: 56.58637003144306,
  2: 92.74306354438839,
  10: 71.90962441978793,
  16: 119.07936450953446,
  15: 222.50652717533106,
  19: 191.22829050471435,
  1: 236.20533992272507,
  20: 138.4397945970516},
 16: {3: 184.35314686361784,
  14: 149.64984793617575,
  7: 124.421619910927,
  5: 92.38955800242724,
  12: 58.053958279535955,
  6: 192.292673132733,
  11: 156.03640795396174,
  18: 33.12729259020286,
  4: 164.0976786805699,
  8: 33.702734072096234,
  17: 92.19892487504747,
  13: 122.70943823349873,
  9: 84.0689183854868,
  2: 63.965008408684575,
  10: 212.28408611775626,
  16: 182.55200354656398,
  15: 120.01834285581859,
  19: 71.72778963079772,
  1: 115.38233489700929,
  20: 278.3302069405048},
 17: {3: 57.0261544093384,
  14: 38.6651730181534,
  7: 94.14603633412098,
  5: 80.00260475037284,
  12: 80.05107180345915,
  6: 83.42154349599635,
  11: 62.05514294479825,
  18: 106.88370362721896,
  4: 102.61157311793244,
  8: 126.79429904173517,
  17: 44.464201455120474,
  13: 103.92754270490683,
  9: 97.51113169697449,
  2: 134.2077832261417,
  10: 144.24097854931762,
  16: 46.31563545858272,
  15: 156.63399809466736,
  19: 146.62597018491684,
  1: 182.4260098642775,
  20: 207.1412458671348},
 18: {3: 7.523043016273508,
  14: 41.52504395795959,
  7: 102.81403212972441,
  5: 110.76354716709223,
  12: 132.66515089288563,
  6: 113.49975697171931,
  11: 111.28885592937428,
  18: 165.02828234537213,
  4: 154.57150819553598,
  8: 173.05384198769306,
  17: 101.17950051330341,
  13: 166.00112417138257,
  9: 162.00675549132853,
  2: 197.74169043259775,
  10: 186.06441941766036,
  16: 45.949404843547946,
  15: 172.25697791027963,
  19: 180.48542645868343,
  1: 205.08649832673046,
  20: 239.90789897536612},
 19: {3: 203.65814134880085,
  14: 168.02747844560213,
  7: 111.33800558475528,
  5: 97.72017507090939,
  12: 100.42761247941135,
  6: 246.76597078991847,
  11: 212.95657450442545,
  18: 102.31746598944983,
  4: 231.49432784783752,
  8: 55.817343255768854,
  17: 132.53515973463183,
  13: 195.2397077631038,
  9: 156.90279812724802,
  2: 142.74131059962178,
  10: 281.06218382037605,
  16: 216.97746294009573,
  15: 63.44935427950722,
  19: 27.458532570277693,
  1: 41.07770153403758,
  20: 348.3945845205181},
 20: {3: 115.18887346261369,
  14: 98.21088615763556,
  7: 137.2273209718006,
  5: 110.22903464165121,
  12: 81.33292467501964,
  6: 73.16878586174,
  11: 36.753715701773984,
  18: 86.91414335680625,
  4: 53.346460303407824,
  8: 126.18999290585478,
  17: 59.01411198575259,
  13: 43.55070441887619,
  9: 48.7526859458645,
  2: 90.78879595890776,
  10: 102.39219425699244,
  16: 89.16580091112205,
  15: 185.56377739968707,
  19: 159.17091359457547,
  1: 202.5606214819576,
  20: 169.75005621614935},
 21: {3: 142.67252440371044,
  14: 122.50151349097521,
  7: 151.47741822068946,
  5: 120.58809910850415,
  12: 82.64157158783694,
  6: 95.50086754205512,
  11: 60.83174416088899,
  18: 75.76530252893295,
  4: 57.018701703161405,
  8: 120.7386783283033,
  17: 72.33076249077156,
  13: 21.734803911014623,
  9: 24.974428828057817,
  2: 65.93427345617609,
  10: 105.45280207777685,
  16: 117.98755668336369,
  15: 190.98167035962265,
  19: 157.87745630426164,
  1: 203.1414076635895,
  20: 172.23952337402818},
 22: {3: 39.4110695340988,
  14: 24.523183865487294,
  7: 89.39264970670482,
  5: 82.15140420555278,
  12: 91.3066303866908,
  6: 90.72926330851688,
  11: 75.31049747885788,
  18: 120.96580475630186,
  4: 117.48484807323001,
  8: 136.00918211301257,
  17: 57.04148612580544,
  13: 121.63033384884147,
  9: 115.22997748097637,
  2: 151.12098668725767,
  10: 156.46945097804408,
  16: 38.71977070920472,
  15: 155.70583262806932,
  19: 151.515661443743,
  1: 184.02740970691684,
  20: 217.24031739103535},
 23: {3: 158.97940543196717,
  14: 139.31273576168536,
  7: 166.90047045330104,
  5: 135.19757986049453,
  12: 94.9957652958699,
  6: 103.94063423772907,
  11: 71.67016337155673,
  18: 82.46992080291407,
  4: 56.963964493669394,
  8: 129.13034636433454,
  17: 88.23813788872701,
  13: 11.343314569421732,
  9: 27.83733091895523,
  2: 61.37171646417605,
  10: 101.87225976596832,
  16: 132.91907438005262,
  15: 203.39317005823426,
  19: 167.7291783225022,
  1: 213.45983864165407,
  20: 166.94919383098272},
 24: {3: 139.04122478014048,
  14: 120.01563398664997,
  7: 151.61208841282277,
  5: 121.44485991644216,
  12: 84.9955527311107,
  6: 89.68301578392611,
  11: 55.105508301222756,
  18: 80.16510045786711,
  4: 52.246487353299266,
  8: 124.47893425237251,
  17: 72.20845899366616,
  13: 21.85655807284679,
  9: 30.621544895950173,
  2: 71.75163000687644,
  10: 101.15582248886025,
  16: 113.3456250830294,
  15: 193.01109188680257,
  19: 161.0414751129476,
  1: 206.06758410055056,
  20: 168.2147712614292},
 25: {3: 171.14876237721387,
  14: 150.18644159552946,
  7: 173.72264685560728,
  5: 140.9950309300923,
  12: 98.62039963542566,
  6: 116.81071218142895,
  11: 84.9956620893069,
  18: 81.22546709162006,
  4: 67.40418104327784,
  8: 128.4834082470328,
  17: 96.34941935360946,
  13: 21.41136660786312,
  9: 28.41523639959048,
  2: 52.340244509526386,
  10: 109.41310180788811,
  16: 145.97297430363838,
  15: 206.1871527920379,
  19: 168.08918977793618,
  1: 214.03843401697003,
  20: 172.6884196467828},
 26: {3: 116.76904811676212,
  14: 87.8104733351764,
  7: 19.844926310183876,
  5: 49.51492051396885,
  12: 94.67895179920424,
  6: 197.32625144087362,
  11: 173.3655339025087,
  18: 126.59903304404983,
  4: 208.32053470908133,
  8: 99.83991731036512,
  17: 97.81627389296862,
  13: 190.9414111157796,
  9: 162.86487905044345,
  2: 176.17941204759362,
  10: 254.71180591288132,
  16: 144.5940043618434,
  15: 55.12298338002909,
  19: 81.69740757441505,
  1: 90.28917989239308,
  20: 319.78495237173786},
 27: {3: 123.47594821040626,
  14: 94.02463453343692,
  7: 25.130848668361093,
  5: 51.124467956383135,
  12: 95.22298135669546,
  6: 202.49381220506584,
  11: 177.81109068362764,
  18: 126.05059905982911,
  4: 212.00462309669817,
  8: 96.99336080981283,
  17: 100.80345220750581,
  13: 193.30445919283784,
  9: 164.24167047615987,
  2: 175.91829305312444,
  10: 258.8193925007303,
  16: 150.74405272131517,
  15: 48.207140495337335,
  19: 76.57293196328862,
  1: 83.47496703061798,
  20: 324.22247008472374},
 28: {3: 110.49655179430879,
  14: 82.05391898278798,
  7: 15.98189787260768,
  5: 48.75080174315418,
  12: 94.51935627264407,
  6: 192.52211270392226,
  11: 169.27572490957638,
  18: 127.3434961317428,
  4: 204.93544353353374,
  8: 102.75723871328192,
  17: 95.29426272229654,
  13: 188.8325903003255,
  9: 161.72874007959655,
  2: 176.56105199975704,
  10: 250.8959785834375,
  16: 138.8599399488865,
  15: 61.58329604675292,
  19: 86.64733934809873,
  1: 96.65465797495166,
  20: 315.6340721927673},
 29: {3: 97.97339045251393,
  14: 63.01545180531645,
  7: 23.53662878961553,
  5: 12.918598903644954,
  12: 57.79438066276854,
  6: 161.62406204759841,
  11: 135.00462738761067,
  18: 92.51557206477852,
  4: 168.27330795524887,
  8: 78.4728499629334,
  17: 57.10273895749282,
  13: 150.24342552837734,
  9: 123.1803888737187,
  2: 140.29214279065408,
  10: 215.39605219626213,
  16: 116.47451105119171,
  15: 78.015208519275,
  19: 78.54330387455062,
  1: 106.21096063152609,
  20: 281.21514370916117},
 30: {3: 179.47642291037522,
  14: 155.4353831485311,
  7: 171.15642374992666,
  5: 137.20436920367322,
  12: 92.53057328629144,
  6: 133.92462933461564,
  11: 100.6232022373259,
  18: 69.29937059644242,
  4: 86.3631989618465,
  8: 116.22758419616737,
  17: 97.2842933369281,
  13: 40.135567952740296,
  9: 25.981323335173307,
  2: 33.614401540228684,
  10: 128.31826650709488,
  16: 157.59552506939872,
  15: 197.45962728513246,
  19: 156.59492600594248,
  1: 202.50820112188285,
  20: 190.8538307075179},
 31: {3: 99.95721610859047,
  14: 64.86652161404785,
  7: 24.761631704331876,
  5: 10.890019961781329,
  12: 56.21885195554038,
  6: 162.41765805741048,
  11: 135.4337154279674,
  18: 90.74582970809129,
  4: 168.28355761902807,
  8: 76.22421106972,
  17: 56.80790719582522,
  13: 149.65192625456027,
  9: 122.15854274237337,
  2: 138.7234360556244,
  10: 215.5897019751914,
  16: 117.98142855331713,
  15: 76.89982794093936,
  19: 76.45123463770707,
  1: 104.63726451450403,
  20: 281.54375004171675},
 32: {3: 159.4482123504841,
  14: 160.62823069006316,
  7: 216.0689506346211,
  5: 193.5188108012654,
  12: 167.59279688527914,
  6: 53.524200638980375,
  11: 62.621739472729935,
  18: 168.7863119319114,
  4: 36.80460374993741,
  8: 211.4428062291527,
  17: 142.80932162434246,
  13: 82.18094546627957,
  9: 117.96760312286975,
  2: 154.45129971288046,
  10: 20.62240627099545,
  16: 119.7431893013204,
  15: 270.454065534366,
  19: 245.41897403814582,
  1: 288.7522620831229,
  20: 84.3787573589466},
 33: {3: 58.41453204528192,
  14: 23.826927662432105,
  7: 46.25784202635016,
  5: 48.13729475103329,
  12: 77.46648649576169,
  6: 133.18172801990127,
  11: 112.81239330475267,
  18: 112.7818817659205,
  4: 151.8385679836224,
  8: 112.18175981386158,
  17: 55.74596054675228,
  13: 144.82807904376457,
  9: 126.91487413681396,
  2: 154.17147819930244,
  10: 195.0551564538044,
  16: 79.72120948545201,
  15: 114.29008348716557,
  19: 117.83837894545475,
  1: 144.85065604326437,
  20: 258.109329900208},
 34: {3: 121.92261070971222,
  14: 100.866183121844,
  7: 132.05826636233024,
  5: 102.69577634443391,
  12: 69.4353741016069,
  6: 88.37101735362458,
  11: 51.943935598654555,
  18: 72.03076574751881,
  4: 64.09018214534359,
  8: 112.61655736327278,
  17: 52.62505609181585,
  13: 41.84839106853395,
  9: 35.436907399516016,
  2: 76.89135715077796,
  10: 113.73829790934903,
  16: 99.72987440257039,
  15: 175.9813735351827,
  19: 146.94612744284848,
  1: 191.10471709503886,
  20: 181.2544543603441},
 35: {3: 130.73217480743634,
  14: 98.32807376412873,
  7: 30.84554372500219,
  5: 41.82815930909172,
  12: 81.80629171413162,
  6: 200.78920365291182,
  11: 173.6090764404223,
  18: 110.3789286540357,
  4: 205.18969483518865,
  8: 78.79207424801481,
  17: 93.08315951353774,
  13: 183.02942807734766,
  9: 151.8791868531416,
  2: 160.4805411947934,
  10: 253.12714630714086,
  16: 153.93251734169192,
  15: 39.720055316233754,
  19: 58.55581864505143,
  1: 71.72523814677484,
  20: 319.4462388409766},
 36: {3: 40.970229631397245,
  14: 67.90180395919495,
  7: 136.96695635707977,
  5: 135.8525567168285,
  12: 144.77641546096484,
  6: 76.174082628456,
  11: 85.01737667191448,
  18: 171.6659849123408,
  4: 126.05094492679164,
  8: 190.5047411763928,
  17: 109.42273376528894,
  13: 148.13258681909406,
  9: 154.3515619108388,
  2: 194.43336254349515,
  10: 149.81395922105045,
  16: 19.67480099413527,
  15: 205.90230646908378,
  19: 205.8168514985388,
  1: 236.28972794749367,
  20: 199.1778701307598},
 37: {3: 8.999362189362333,
  14: 40.568144032858584,
  7: 100.54595893133346,
  5: 109.24199459960909,
  12: 132.08341894434065,
  6: 116.14886072019341,
  11: 113.34430927517604,
  18: 164.75052946540785,
  4: 156.64626636883622,
  8: 171.9628580736805,
  17: 101.04418542455441,
  13: 167.38932794398937,
  9: 162.73339702688398,
  2: 198.0939688430917,
  10: 188.57520289547458,
  16: 48.596493590472996,
  15: 169.92873515785888,
  19: 178.78633810831045,
  1: 202.91700122676406,
  20: 242.69143417653706},
 38: {3: 163.29762507344904,
  14: 155.03762205400338,
  7: 199.83112986447398,
  5: 172.590722198159,
  12: 139.53149809746216,
  6: 73.91462749604133,
  11: 59.02155090751917,
  18: 134.20556384662328,
  4: 16.367360517650233,
  8: 179.41427165277966,
  17: 121.53489218314459,
  13: 42.49100422605263,
  9: 80.63908117448506,
  2: 113.99215635642273,
  10: 48.04723377125475,
  16: 127.69638346724741,
  15: 246.66674915805962,
  19: 216.0920996307044,
  1: 260.9745431969303,
  20: 113.74679746479137}}

### Problem Variable

In [94]:
prob = LpProblem("FacilityLocation",LpMinimize)

### Decision Variables

In [95]:
serv_vars = LpVariable.dicts("Service", [(i,j) for i in SUPERMARKETS for j in WAREHOUSES],0)

In [96]:
use_vars = LpVariable.dicts("UseLocation",WAREHOUSES,lowBound=0, upBound=1, cat=LpBinary)

### Objective Function

In [97]:
prob += lpSum(actcost[j] * use_vars[j] for j in WAREHOUSES) +\
lpSum(transp[j][i] * serv_vars[(i,j)] for j in WAREHOUSES for i in SUPERMARKETS)

### Constraints

In [98]:
for i in SUPERMARKETS:
    prob += lpSum(serv_vars[(i,j)] for j in WAREHOUSES) == demand[i]

In [99]:
for j in WAREHOUSES:
    prob += lpSum(serv_vars[(i,j)] for i in SUPERMARKETS) <=maxam[j] * use_vars[j]

In [100]:
for i in SUPERMARKETS:
    for j in WAREHOUSES:
        prob += serv_vars[(i,j)] <= demand[i] * use_vars[j]

In [101]:
# The problem is solved using PuLP's choice of Solver
prob.solve()

1

In [102]:
# The status of the solution is printed to the screen
print("Status:", LpStatus[prob.status])

Status: Optimal

In [103]:
TOL = 0.0001
results=[]
for i in WAREHOUSES:
    if use_vars[i].varValue > TOL:
        print(f"Establish warehouse at: {i}")
        results.append(i)

Establish warehouse at: 2
Establish warehouse at: 5
Establish warehouse at: 9
Establish warehouse at: 17
Establish warehouse at: 21
Establish warehouse at: 26
Establish warehouse at: 31
Establish warehouse at: 32
Establish warehouse at: 36

In [104]:
results

[2, 5, 9, 17, 21, 26, 31, 32, 36]

In [114]:
print("Therefore, the optimal warehouses consists of\n")
results=[]
for v in prob.variables():
    if v.varValue>0 and v.name.startswith("Service"):
        print(v.name, "=", v.varValue)

Therefore, the optimal warehouses consists of

Service_(1,_5) = 384.0
Service_(10,_32) = 997.0
Service_(11,_9) = 477.0
Service_(12,_17) = 99.0
Service_(12,_2) = 210.0
Service_(12,_21) = 56.0
Service_(12,_31) = 427.0
Service_(13,_21) = 913.0
Service_(14,_17) = 782.0
Service_(15,_26) = 1105.0
Service_(16,_36) = 882.0
Service_(17,_17) = 643.0
Service_(18,_2) = 483.0
Service_(19,_5) = 740.0
Service_(2,_21) = 693.0
Service_(20,_32) = 3.0
Service_(3,_36) = 385.0
Service_(4,_32) = 1045.0
Service_(5,_31) = 1217.0
Service_(6,_9) = 630.0
Service_(7,_26) = 1156.0
Service_(8,_2) = 603.0
Service_(9,_21) = 396.0

### Create LingStrings

In [166]:
import re

customer_id = []
facility_id = []
values = []
for v in prob.variables():
    if v.varValue>0 and v.name.startswith("Service"):
        print(v.name, "=", v.varValue)
        customer_id.append(int(re.findall('\d+', v.name)[0]))
        facility_id.append(int(re.findall('\d+', v.name)[1]))
        values.append(v.varValue)

lines = [LineString([Supermarkets_shp.query(f"Shop_ID == {i}").geometry.values[0], Warehouses_shp.query(f"WH_ID == {j}").geometry.values[0]]) for i,j in zip(customer_id,facility_id)]

result_value = pd.DataFrame({"customer_id":customer_id,"facility_id":facility_id,"value":values})

result_value

# result_lines = gpd.GeoDataFrame(geometry=lines)
# result_lines.plot()

Service_(1,_5) = 384.0
Service_(10,_32) = 997.0
Service_(11,_9) = 477.0
Service_(12,_17) = 99.0
Service_(12,_2) = 210.0
Service_(12,_21) = 56.0
Service_(12,_31) = 427.0
Service_(13,_21) = 913.0
Service_(14,_17) = 782.0
Service_(15,_26) = 1105.0
Service_(16,_36) = 882.0
Service_(17,_17) = 643.0
Service_(18,_2) = 483.0
Service_(19,_5) = 740.0
Service_(2,_21) = 693.0
Service_(20,_32) = 3.0
Service_(3,_36) = 385.0
Service_(4,_32) = 1045.0
Service_(5,_31) = 1217.0
Service_(6,_9) = 630.0
Service_(7,_26) = 1156.0
Service_(8,_2) = 603.0
Service_(9,_21) = 396.0

    customer_id  facility_id   value
0             1            5   384.0
1            10           32   997.0
2            11            9   477.0
3            12           17    99.0
4            12            2   210.0
5            12           21    56.0
6            12           31   427.0
7            13           21   913.0
8            14           17   782.0
9            15           26  1105.0
10           16           36   882.0
11           17           17   643.0
12           18            2   483.0
13           19            5   740.0
14            2           21   693.0
15           20           32     3.0
16            3           36   385.0
17            4           32  1045.0
18            5           31  1217.0
19            6            9   630.0
20            7           26  1156.0
21            8            2   603.0
22            9           21   396.0

## Network

In [5]:
!pip show networkx

Name: networkx
Version: 2.6.3
Summary: Python package for creating and manipulating graphs and networks
Home-page: https://networkx.org/
Author: Aric Hagberg
Author-email: hagberg@lanl.gov
License: UNKNOWN
Location: c:\program files\qgis 3.20.0\apps\python39\lib\site-packages
Requires:
Required-by: spopt, scikit-image, mapclassify

In [14]:
# !pip install -U networkx

In [170]:
import networkx as nx

from networkx.algorithms import approximation as approx

In [18]:
G = nx.Graph()

In [181]:
test = pd.read_csv("Data/test.csv")

In [187]:
test

    origin_id  destination_id  entry_cost  network_cost  exit_cost  total_cost
0           1               2         NaN   6523.746111        NaN         NaN
1           1               3         NaN   5184.269208        NaN         NaN
2           1               4         NaN   8930.640382        NaN         NaN
3           1               5         NaN   7103.512767        NaN         NaN
4           2               1         NaN   6523.746111        NaN         NaN
5           2               3         NaN   6806.746176        NaN         NaN
6           2               4         NaN   3215.268617        NaN         NaN
7           2               5         NaN   5797.580375        NaN         NaN
8           3               1         NaN   5184.269208        NaN         NaN
9           3               2         NaN   6806.746176        NaN         NaN
10          3               4         NaN   7982.019204        NaN         NaN
11          3               5         NaN   3206.378660        NaN         NaN
12          4               1         NaN   8930.640382        NaN         NaN
13          4               2         NaN   3215.268617        NaN         NaN
14          4               3         NaN   7982.019204        NaN         NaN
15          4               5         NaN   5570.769872        NaN         NaN
16          5               1         NaN   7103.512767        NaN         NaN
17          5               2         NaN   5797.580375        NaN         NaN
18          5               3         NaN   3206.378660        NaN         NaN
19          5               4         NaN   5570.769872        NaN         NaN

In [188]:
for index, row in test.iterrows():
    print(row['origin_id'], row['destination_id'])

1.0 2.0
1.0 3.0
1.0 4.0
1.0 5.0
2.0 1.0
2.0 3.0
2.0 4.0
2.0 5.0
3.0 1.0
3.0 2.0
3.0 4.0
3.0 5.0
4.0 1.0
4.0 2.0
4.0 3.0
4.0 5.0
5.0 1.0
5.0 2.0
5.0 3.0
5.0 4.0

In [191]:
[G.add_edge(str(row['origin_id']), str(row['destination_id']), weight=row['network_cost']) for _, row in test.iterrows()]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [193]:
# G.add_edge('A', 'B', weight=4)
# G.add_edge('B', 'D', weight=2)
# G.add_edge('A', 'C', weight=3)
# G.add_edge('C', 'D', weight=4)
nx.shortest_path(G, '1.0', '3.0', weight='weight')

['1.0', '3.0']

In [190]:
G = nx.DiGraph()

In [19]:
G.add_weighted_edges_from({
    ("A", "B", 3), ("A", "C", 17), ("A", "D", 14), ("B", "A", 3),
    ("B", "C", 12), ("B", "D", 16), ("C", "A", 13),("C", "B", 12),
    ("C", "D", 4), ("D", "A", 14), ("D", "B", 15), ("D", "C", 2)
})

In [20]:
from networkx.algorithms import approximation as approx

In [21]:
G = nx.DiGraph()
G.add_weighted_edges_from({
    ("A", "B", 3), ("A", "C", 17), ("A", "D", 14), ("B", "A", 3),
    ("B", "C", 12), ("B", "D", 16), ("C", "A", 13),("C", "B", 12),
    ("C", "D", 4), ("D", "A", 14), ("D", "B", 15), ("D", "C", 2)
})

In [194]:
cycle = approx.simulated_annealing_tsp(G, "greedy", source="1.0")
cost = sum(G[n][nbr]["weight"] for n, nbr in nx.utils.pairwise(cycle))
cycle

['1.0', '3.0', '5.0', '4.0', '2.0', '1.0']

In [212]:
cycle

['1.0', '3.0', '5.0', '4.0', '2.0', '1.0']

In [214]:
[(cycle[i],cycle[i+1],cost) for i,_ in enumerate(cycle) if i<len(cycle)-1]

[('1.0', '3.0', 23700.432468299998),
 ('3.0', '5.0', 23700.432468299998),
 ('5.0', '4.0', 23700.432468299998),
 ('4.0', '2.0', 23700.432468299998),
 ('2.0', '1.0', 23700.432468299998)]

In [195]:
cost

23700.432468299998

In [24]:
incycle = ["D", "B", "A", "C", "D"]
cycle = approx.simulated_annealing_tsp(G, incycle, source="D")
cost = sum(G[n][nbr]["weight"] for n, nbr in nx.utils.pairwise(cycle))
cycle

['D', 'C', 'B', 'A', 'D']

In [25]:
cost

31